body {
    /* background-color: rgb(106, 106, 224);
    background-size: cover;

    color: rgb(255, 255, 255); */
    text-align: center;
} 


.site-wrapper {
    display: table;
    width: 50%;
    height: 50%;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;  
}