<!-- {% extends 'base.html' %}
{% block body %}

{% block title %}please select the Event and enter the deatils{% endblock %}
{% block link %} 
   

<ul>
    <li><a id = "birthday" href="{{url_for('all_birthdays')}}">View all birthdays</a></li>

    <li><a href="/wedding">View all Wedding Anniversaries</a></li>

    <li><a href="/demise">View all your Remembrance days</a></li>

    <li><a href="/vacation">View all your upcoming vacation list</a></li>

    <li><a href="/festivals">View all upcoming festivals</a></li>
    
</ul>

{% endblock %}
{% endblock %} -->


