
{% extends 'base.html' %}
{% block body %} 

<style>
    body {
      
      background-image: url('/static/img/Homepage.jpg');
    backdrop-filter: blur(400px);
      height: 100%;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
    }
  </style>
  
  <body>
  </body>

<div style = "margin-left: 16px"> Enter Wedding details</div>

<form action ="/addwedding" method = "post">
 
    <div class = "wedding_form col-lg-4" >
    <div class="form-group">
    <label for="mr_name">Mr.Name:</label>
    <input type="text"  class= "form-control" id="mr_name" name="mr_name">
    </div>
  
    <div class="form-group">
    <label for="mrs_name">Mrs.Name:</label>
    <input type="text" class= "form-control" id="mrs_name" name="mrs_name">
    </div>

  
    <div class="form-group">
    <label for="mr_email">Mr.Email:</label>
    <input type="text" class= "form-control" id="mr_email" name="mr_email">
    </div>

    <div class="form-group">
    <label for="mrs_email">Mrs.Email:</label>
    <input type="text" class= "form-control" id="mrs_email" name="mrs_email">
    </div>

    <div class="form-group">
    <label for="mr_phone_number">Mr.PhoneNumber:</label>
    <input type="text" class= "form-control" id="mr_phone_number" name="mr_phone_number">
    </div>

    <div class="form-group">
    <label for="mrs_phone_number">Mrs.PhoneNumber:</label>
    <input type="text" class= "form-control" id="mrs_phone_number" name="mrs_phone_number">
    </div>

    <div class="form-group">
    <label for="relation">Mr/Mrs Relation:</label>
    <input type="text" class= "form-control" id="relation" name="relation">
    </div>

    <div class="form-group">
    <label for="wedding_date">Date of wedding day:</label>
    <input type="text" class= "form-control" id="wedding_date" name="wedding_date">
    </div>

    <div class="form-group">
    <input type="submit" class="btn btn-default" id="btnsubmit" value="submit">
    </div>
    </div>
</form>

{% endblock %}