
{% extends 'base.html' %}
{% block body %} Please enter Birthday details
 
<form action ="/navbirthday" method = "post">
  <div class = "birthday_form">
  <label for="email">Email:</label>
  <input type="text" id="email" name="email"><br><br>

  <label for="name">Name:</label>
  <input type="text" id="name" name="name"><br><br>

  <label for="gender">Gender:</label>
  <input type="text" id="gender" name="gender"><br><br>

  <label for="relation">Relation:</label>
  <input type="text" id="relation" name="relation"><br><br>

  <label for="phone_number">Phone Number:</label>
  <input type="text" id="phone_number" name="phone_number"><br><br>

  <label for="birth_date">Date of Birth:</label>
  <input type="text" id="birth_date" name="birth_date"><br><br>

  <input type="submit" id="btnsubmit" value="submit">
  </div>
</form>

{% endblock %}