{% extends 'base.html' %}
{% block body %} 

<style>
  body {
    
  
    background-image: url('/static/img/Homepage.jpg');
    backdrop-filter: blur(400px);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
</style>

<body>
</body>


<div style = "margin-left: 16px"> Enter Vacation details</div>


<form action ="/addvacation" method = "post">

  <div class = "vacation_form col-lg-4" >
  <div class="form-group">


  <label for="location_name">Location Name:</label>
  <input type="text" class= "form-control" id="location_name" name="location_name">
  </div>

  <div class="form-group">
  <label for="vac_start_date">Start Date:</label>
  <input type="text" class= "form-control"  id="vac_start_date" name="vac_start_date">
  </div>
  
  <div class="form-group">
  <label for="vac_end_date">End Date:</label>
  <input type="text" class= "form-control"  id="vac_end_date" name="vac_end_date">
  </div>

  <div class="form-group">
  <input type="submit" class="btn btn-default" id="btnsubmit" value="submit">
  </div>
  </div>
</form>

{% endblock %}