{% extends 'base.html' %}
{% block body %} 

<div style = "margin-left: 16px"> Enter Death Day details</div>
 
<form action ="/adddemise" method = "post">
  
  <div class = "demise_form col-lg-4" >
  <div class = "form-group">
  <label for="name">Name:</label>
  <input type="text" class= "form-control"  id="name" name="name">
  </div>

  <div class = "form-group">
  <label for="gender">Gender:</label>
  <input type="text" class= "form-control"  id="gender" name="gender">
  </div>

  <div class = "form-group">
  <label for="relation">Relation:</label>
  <input type="text" class= "form-control"  id="relation" name="relation">
  </div>

  <div class = "form-group">
  <label for="demise_date">Deathday:</label>
  <input type="text" class= "form-control"  id="demise_date" name="demise_date">
  </div>

  <div class = "form-group">
  <input type="submit" class="btn btn-default"  id="btnsubmit" value="submit">
  </div>
  </div>
</form>

{% endblock %}