
{% extends 'base.html' %}

{% block title %}All Birthdays{% endblock %}

{% block body %}
  
    <style>
      body {
        
        background-image: url('/static/img/Birthday.jpg');
        height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
      }
    </style>
  
  <body>
  </body>

<h1>All birthdays</h1>
<div class="center">
  <table class="table table-bordered " border="1">
      <tr>
          <th>Name</th>
          <th>Gender</th>
          <th>Relation</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Date</th>
      </tr>
      {% for birth in birthday%}
          <tr>
              <td>{{birth.name }}</td>
              <td>{{birth.gender}}</td>
              <td>{{birth.relation}}</td>
              <td>{{birth.email}}</td>
              <td>{{birth.phone_number}}</td>
              <td>{{birth.birth_date.date()}}</td>
          </tr>
      {% endfor %}</table>

{% endblock %}