{% extends 'base.html' %}
{% block title %}All death Anniversaries{% endblock %}

{% block body %}
<style>
  body {
    
    background-image: url('/static/img/demise.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
</style>

<body>
</body>


  <h1>All Remembrance Days</h1>
  
  <div class="center">
    <table class="table table-bordered " border="1">
        <tr>
            <th> Name</th>
            <th>Gender</th>
            <th>Relation</th>
            <th>Date</th>
        </tr>
        {% for dem in demise %}
            <tr>
                <td>{{dem.name}}</td>
                <td>{{dem.gender}}</td>
                <td>{{dem.relation}}</td>
                <td>{{dem.demise_date}}</td>
            </tr>
        {% endfor %}</table>
 
{% endblock %}






