<!doctype html>
<html>
  <head>
   
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"/> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
   </head>
{% block body %}

<style>
  body {
    
    background-image: url('/static/img/reminder.jpeg');
    height: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
  }
</style>

<body>
</body>

  <h1>Welcome to Event Reminder</h1>

  <h2>Log In</h2>
  <form action="/login" method="POST">
    <div class = "festival_form col-lg-3" >
    <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class= "form-control" id="email" name="email">
    </div>

    <div class="form-group">
    <label for="password">Password</label>
    <input type="text" class= "form-control" id="password" name="password">
    </div>

    <div class="form-group">
    <input type="submit" class="btn btn-default" id="btnsubmit" value="submit">
    </div>
    </div>
    </form>
  
  <a href="/signup" class="btn btn-primary btn-lg active" role="button">Sign Up</a>
{% endblock %}

