
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/view_events">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">(current)</span>
    </button>
  

  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              View Events
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/birthday">View all birthdays</a></li>
              <li><a class="dropdown-item" href="/demise">view all Remembrance days</a></li>
              <li><a class="dropdown-item" href="/wedding">view all wedding Anniversaries</a></li>
              <li><a class="dropdown-item" href="/vacation">view all vacation list</a></li>
              <li><a class="dropdown-item" href="/festivals">view all Festivals list</a></li>
            </ul>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Add Events
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/addbirthday">Add birthdays</a></li>
              <li><a class="dropdown-item" href="/adddemise">Add death details</a></li>
              <li><a class="dropdown-item" href="/addwedding">Add wedding details</a></li>
              <li><a class="dropdown-item" href="/addvacation">Add Vacation details</a></li>
              <li><a class="dropdown-item" href="/addfestivals">Add Festive details</a></li>
            </ul>
          </li>
      </ul>
      
      <form class="form-inline my-2 my-lg-0">
        <p style = " color:white" >{{ session['name'] }}</p>
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button> -->
        <a class="navbar-brand" href="/logout">Logout</a>
      </form>
    </div>
  </nav>