
<nav class="navbar navbar-expand-lg navbar-dark bg-dark purple: #6f42c1;">
    <a class="navbar-brand" href="/view_events">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">(current)</span>
    </button>
  

  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              View Events
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/birthday">View all birthdays</a></li>
              <li><a class="dropdown-item" href="/demise">view all Remembrance days</a></li>
              <li><a class="dropdown-item" href="/wedding">view all wedding Anniversaries</a></li>
              <li><a class="dropdown-item" href="/vacation">view all vacation list</a></li>
              <li><a class="dropdown-item" href="/festivals">view all Festivals list</a></li>
            </ul>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Add Events
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/addbirthday">Add birthdays</a></li>
              <li><a class="dropdown-item" href="/adddemise">Add death details</a></li>
              <li><a class="dropdown-item" href="/addwedding">Add wedding details</a></li>
              <li><a class="dropdown-item" href="/addvacation">Add Vacation details</a></li>
              <li><a class="dropdown-item" href="/addfestivals">Add Festive details</a></li>
            </ul>
          </li>
      </ul>

      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item" style = " color:white; vertical-align: middle;" >{{ session['name'] }}</li>
        <a class="btn btn-bd-download navbar-brand" href="/logout">Logout</a>
      </ul>
    </div>
  </nav>