{% extends 'base.html' %}
{% block body %}

{% block title %}view the details of Event{% endblock %}

   

<ul>
  <li><a href = "/birthday">View all birthdays</a></li>
    
</ul>

<ul>
  <li><a href = "/demise">View all Remembrance days</a></li>
    
</ul>

<ul>
  <li><a href = "/wedding">View all wedding Anniversaries</a></li>
    
</ul>

<ul>
  <li><a href = "/vacation">View all vacations list</a></li>
    
</ul>




<ul>
  <li><a href = "/addbirthday">Add birthdays</a></li>
    
</ul>

<ul>
  <li><a href = "/adddemise">Add death details </a></li>
    
</ul>

<ul>
  <li><a href = "/addwedding">Add wedding details</a></li>
    
</ul>


<button name="button" value="OK" type="button" onclick="clickfun()">check upcmong birthdays</button>  
<script>  
clickfun()
{  
 window.location = '/upcomingbday'; 
}  
</script>  

{%endblock%}







<!-- <li><a id = "birthday" href="{{url_for('add_birthdays')}}">Add birthdays</a></li> -->

    <!-- <li><a href="{{url_for('/wedding_display')}}">View all Wedding Anniversaries</a></li>

    <li><a href="{{url_for('/demise_display')}}">View all your Remembrance days</a></li>

    <li><a href="{{url_for('/vacation_display')}}">View all your upcoming vacation list</a></li>

    <li><a href="{{url_for('/festival_display')}}">View all upcoming festivals</a></li> -->