{% extends 'base.html' %}
{% block body %}

{% block title %}view the details of Event{% endblock %}

   

<ul>
  <li><a href = "/birthday">View all birthdays</a></li>
    
</ul>

<ul>
  <li><a href = "/demise">View all Remembrance days</a></li>
    
</ul>

<ul>
  <li><a href = "/wedding">View all wedding Anniversaries</a></li>
    
</ul>

<ul>
  <li><a href = "/vacation">View all vacations list</a></li>
    
</ul>

<ul>
  <li><a href = "/festivals">View all festivals or Important days </a></li>
    
</ul>




<ul>
  <li><a href = "/addbirthday">Add birthdays</a></li>
    
</ul>

<ul>
  <li><a href = "/adddemise">Add death details </a></li>
    
</ul>

<ul>
  <li><a href = "/addwedding">Add wedding details</a></li>
    
</ul>

<ul>
  <li><a href = "/addvacation">Add vacation details</a></li>
    
</ul>

<ul>
  <li><a href = "/addfestival">Add festive details</a></li>
    
</ul>





<button name="button" value="OK" type="button" onclick="clickfun()">check upcoming birthdays</button> 


<table>
  <caption>Upcoming Events Table</caption>
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthday</th>
    </tr>
  </thead>
  <tbody id="tBody"></tbody>
</table>


<script>  
function clickfun() {
    $.ajax({
      url: 'upcomingbday',
      type: 'GET',
       headers:  { 
        "contentType": 'application/json',
        },
      success: function (response) {
        console.log(response)
        for (const[key,value] of Object.entries(response)) //
        {
          console.log(key);
          console.log(value)
          $("#tBody").append(`<tr><td>${key}</td><td>${value}</td></tr>`)
          alert(`${key}:${value}`)  
        }  
                      
        },
    })
  }

</script>  

{%endblock%}









