{% extends 'base.html' %}
{% block title %}All weddings{% endblock %}

{% block body %}
<style>
  body {
    
    background-image: url('/static/img/wedding.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
</style>

<body>
</body>




  <h1>All Wedding details</h1>
  <div class="center">
    <table class="table table-bordered " border="1">
        <tr>
            <th>Mr.Name</th>
            <th>Mrs.Name</th>
            <th>Mr.Email</th>
            <th>Mrs.Email</th>
            <th>Mr.Phone Number</th>
            <th>Mrs.Phone Number</th>
            <th>Relation</th>
            <th>Date</th>
        </tr>
        {% for wed in wedding %}
            <tr>
                <td>{{wed.mr_name  }}</td>
                <td>{{wed.mrs_name}}</td>
                <td>{{wed.mr_email}}</td>
                <td>{{wed.mrs_email}}</td>
                <td>{{wed.mr_Phone_number}}</td>
                <td>{{wed.mrs_Phone_number}}</td>
                <td>{{wed.relation }}</td>
                <td>{{wed.wedding_date}}</td>
            </tr>
        {% endfor %}</table>

{% endblock %}